.post-copyright {
  /*margin: $post-copyright.margin;*/
  /*padding: $post-copyright.padding;*/
  /*border-left: $post-copyright.border.width $post-copyright.border.style $post-copyright.border.color;*/
  background-color: $post-copyright.bg;
  list-style: none;
  border-left: 3px solid #ff1700;
  margin: 1.8em  0;
  padding: 1em 2em;
  font-size: 14px;
}
